
/**
 * header part
 **/
.navbar-toggler{
    background-color: #6abcc8;
}

/**
 * <main> part
 **/
main {
    h2,h3,h4,h5 {
	position: relative;
	padding: 0.3em;   
    }
    h2:after,h3:after,h4:after,h5:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
    }
    h2:after {
	height: 8px;
	background: repeating-linear-gradient(-45deg, skyblue, skyblue 2px, white 2px, white 4px);
    }
    h3:after {
	height: 6px;
	background: repeating-linear-gradient(-45deg, skyblue, skyblue 2px, white 2px, white 4px);
	width: 95%;
    }
    h4:after {
	height: 4px;
	background: repeating-linear-gradient(-45deg, skyblue, skyblue 2px, white 2px, white 4px);
	width: 80%;
    }
    h5:after {
	height: 2px;
	background: repeating-linear-gradient(-45deg, skyblue, skyblue 2px, white 2px, white 4px);
	width: 75%;
    }
    .image img {
	width: 100%;
    }
    #toc {
	background: #d5edf1;
	padding: 1em;
    }
    sectionbody {
	// margin-top: 1em;
    }
    div.ulist li p {
	margin-bottom: 0.3em;
    }
    div.ulist ul, #toc ul {
	margin-bottom: 0;
    }
    .highlight { // reset 
	margin: 0;
    }
    .bg-primary, .bg-secondary, .bg-success, .bg-danger, .bg-warning, .bg-info, .bg-dark, .bg-white, .bg-transparent, .bg-code, .bg-kbd {
	padding: 1em;
	margin-bottom: 1em;
	p {
	    margin: 0em;
	}
    }
    .bg-code {
	background: #d5edf1;
    }
    .bg-kbd {
	background: #191975;
    }
    .bg-kbd pre {
	color: #ffffff;
    }
}

