
/**
 * header part
 **/
.navbar-toggler{
    background-color: #6abcc8;
}

/**
 * <main> part
 **/
main {
    h2,h3,h4,h5 {
	position: relative;
	padding: 0.3em;   
    }
    h2:after,h3:after,h4:after,h5:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
    }
    h2:after {
	height: 8px;
	background: repeating-linear-gradient(-45deg, skyblue, skyblue 2px, white 2px, white 4px);
    }
    h3:after {
	height: 6px;
	background: repeating-linear-gradient(-45deg, skyblue, skyblue 2px, white 2px, white 4px);
	width: 95%;
    }
    h4:after {
	height: 4px;
	background: repeating-linear-gradient(-45deg, skyblue, skyblue 2px, white 2px, white 4px);
	width: 80%;
    }
    h5:after {
	height: 2px;
	background: repeating-linear-gradient(-45deg, skyblue, skyblue 2px, white 2px, white 4px);
	width: 75%;
    }
    .image img {
	width: 100%;
    }
    #toc {
	background: #d5edf1;
	padding: 1em;
    }
    .sectionbody {
	margin-top: 1em;
    }
    div.ulist li p, div.olist ol p, div.dlist dl p {
	margin-bottom: 0.3em;
    }
    #toc ul {
	margin-bottom: 0;
    }
    div.ulist:first-child ul, div.dlist:first-child dl, div.olist:first-child ol {
	margin-bottom: 1.5em;
    }
    .highlight { // reset 
	margin: 0;
    }
    .bg-primary, .bg-secondary, .bg-success, .bg-danger, .bg-warning, .bg-info, .bg-dark, .bg-white, .bg-transparent, .bg-code, .bg-kbd, .bg-result {
	padding: 0em;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
	margin-top: 0em;
	p {
	    margin: 0em;
	}
	pre.highlight {
	    padding-top: 0.3em;
	}
    }
    // specific code/pre block - common setting
    .bg-code, .bg-result, .bg-kbd {
	padding-top: 0.1em;
	pre.highlight {
	    padding-top: 1em;
	}
    }
    // specific code/pre block - color setting
    .bg-code {
	background: #d5edf1;
	code {
	    color: #191975;
	}
    }
    .bg-kbd, .bg-result {
	background: #191975;
	pre {
	    color: #ffffff;
	}
    }
    .bg-result {
	background: #491975;
    }
    // top left-corner label - common setting
    .bg-code:before, .bg-result:before, .bg-kbd:before {
	margin: -1em;
	padding-top: 0.4em;
	padding-right: 0.2em;
	font-size: 0.8em;

	white-space: pre-wrap;
	word-wrap: break-word;
    }
    // top left-corner-labe color and text setting
    .bg-code:before {
	background: #3e3e3e;
	color: #ffffff;
	content: "【Code】\A";
    }
    .bg-result:before {
	background: #3e3e3e;
	color: #ffffff;
	content: "【Terminal - Execution Result】\A";
    }
    .bg-kbd:before {
	background: #3e3e3e;
	color: #ffffff;
	content: "【Terminal - Command-line】\A";
    }

    .paragraph {
	margin-top: 0.5em;
	code {
	    background: #efefef;
	    color: #006e6e;
	}
    }
}

