{{ define "main" }}
  <!-- -*- mode:text ; coding: utf-8-unix -*- -->
  {{ $local_data := index .Site.Data .Site.LanguageCode }}
  <!-- 学歴 -->
  {{ $data :=  index $local_data.profile "education" }}
  <h2>{{ i18n "profile_education" }}</h2>
  <div id="education" class="profile-education col-sm-12">
  {{ $licenses := index $data "education" }}
  <ul>
  {{ range $item := sort $licenses "entry_date" "desc" }}
    <li><p>{{ index $item "entry_date" }}-{{ index $item "grad_date" }}, {{ index $item "school" }} ({{ index $item "location" }})</p></li>
  {{ end }}
  </ul>
  </div>
  <!-- 職歴の概要-->
  {{ $data :=  index $local_data.profile "industry" }}
  <h2>{{ i18n "profile_industry" }}</h2>
  <div id="industry" class="profile-industry col-sm-12">
  {{ $licenses := index $data "industry" }}
  <ul>
  {{ range $item := sort $licenses "begin" "desc" }}
    <li><p>{{ index $item "begin" }}-{{ index $item "end" }} {{ index $item "name" }} ({{ index $item "location" }})</p></li>
  {{ end }}
  </ul>
  </div>
  <!-- 技術系資格 -->
  {{ $data :=  index $local_data.profile "certificate" }}
  <h2>{{ i18n "profile_certificates" }}</h2>
  <div id="certification" class="profile-certification col-sm-12">
  {{ $licenses := index $data "license" }}
  <ul>
  {{ range $item := sort $licenses "year" "desc" }}
    <li><p>{{ index $item "year" }}{{ i18n "profile_year_text" }} {{ index $item "name" }}</p></li>
  {{ end }}
  </ul>
  <p>(* <a href="https://lpi.org/v/LPI000038130/ueftsez3qe" target="_blank" rel="noopener noreferrer">LPI proof of certification</a>)</p>
  </div>
  {{ .Content }}
{{ end }}
