<!-- Reference: https://gist.github.com/hahwul/730a4f3871730246a80622855891be77 will be modified by the official javascript -->
<div id="asciinema-{{ with .Get "key" }}{{ . }}{{ end }}">
  <script async id="asciicast-{{ with .Get "key" }}{{ . }}{{ end }}" src="https://asciinema.org/a/{{ with .Get "key" }}{{ . }}{{ end }}.js"></script>
  <div class="text-end">
    [ <a href="https://asciinema.org/a/{{ with .Get "key" }}{{ . }}{{ end }}" target="_blank">View on the Asciinema Site</a> ]
  </div>
</div>
